<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
	 .color 
	{
	   text-align: center;
	   color: blue;
	   font-size: 16px;
	}
	
</style>
</head>
<body>
	<form>
		<h1 class="color" style="text-align:center; font-family: arial">AHORCADO MUNDIALISTA</h1>
	</form>
</body>
</html>