<!DOCTYPE html>
<html>
<head>
	<title>AHORCADO MUNDIALISTA</title>
<style type="text/css">
 .color 
{
   text-align: center;
   color: blue;
   font-size:16px;
}
	
</style>


</head>


<body>
   
<h1 class="color">AHORCADO MUNDIALISTA</h1>

</body>
</html>